<header class="flex justify-between items-center p-6">
    <div>
        <span class="text-xl font-bold mr-1">Batlounis.</span>
        <span class="text-sm tracking-widest text-gray-600 uppercase">Stock photos with a unique perspective.</span>
    </div>
    <nav class="space-x-6 hidden md:block">

    </nav>
    <div class="flex items-center space-x-4">
        <span class="text-gray-700 hidden md:inline">
            <a href="https://www.instagram.com/batlounis/">Instagram</a>
        </span>
        <button class="bg-yellow-400 px-4 py-2 rounded-lg text-black font-semibold">
            Buy License
        </button>
    </div>
</header>
