<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or story.title | striptags }} | Batlounis</title>
    <meta name="description" content="{{ description or story.description or 'Default site description.' }}">
    <meta property="og:title" content="{{ title or story.title | striptags }} | Batlounis" />
    <meta property="og:description" content="{{ description or story.description or 'Default site description.' }}" />
    <meta property="og:url" content="https://batlounis.com{{ page.url }}" />
    <meta property="og:type" content="article" />
    <link rel="icon" href="/assets/public/favicon.png" type="image/png">


    {# <meta property="og:image" content="https://batlounis.com/assets/images_cropped/{{ story.slug }}/{{ image }}" /> #}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title or story.title | striptags }} | Batlounis" />
    <meta name="twitter:description" content="{{ description or story.description or 'Default site description.' }}" />
    {# <meta name="twitter:image" content="https://batlounis.com/assets/images_cropped/{{ story.slug }}/{{ firstImage.filename }}" /> #}
    <script src="https://cdn.tailwindcss.com"></script>

    {% if env != "development" %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-40TNB9Y484"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-40TNB9Y484');
    </script>
    {% endif %}
</head>
<body class="bg-gradient-to-b from-gray-100 to-white text-gray-900">

    {% include "header.njk" %}

    {{ content | safe }}

    {% include "footer.njk" %}

</body>
</html>
