---
title: "Stories"
layout: "layout.njk"
permalink: "/stories/index.html"
---

<section class="px-4 max-w-6xl mx-auto mt-16">
  <h1 class="text-4xl font-bold text-center mb-12">All Stories</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    {% for page in collections.stories %}
      {% set slug = page.data.story.slug %}
      {% set gridRows = grid | filterBySlug(slug) %}
      {% set firstImage = gridRows[0] and gridRows[0].images[0] %}
      {% set photo = images | findPhotoByFile(slug, firstImage.filename) %}
      
      <a href="{{ page.url }}" class="block group">
        <div class="aspect-[16/9] overflow-hidden rounded-lg shadow-md">
          <img
            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            src="/assets/images_cropped/{{ slug }}/{{ firstImage.filename }}"
            alt="{{ photo.alt_text | default(page.data.story.title) }}"
          >
        </div>
        <h2 class="mt-4 text-lg font-semibold text-center">
          {{ page.data.story.title | safe}}
        </h2>
      </a>
    {% endfor %}
  </div>
</section>
