---
layout: "layout.njk"

pagination:
  data: stories
  size: 1
  alias: story
  addAllPagesToCollections: true
permalink: "/stories/{{ story.slug }}/index.html"
---


<main class="text-center mt-16 px-6">
  <p class="text-sm tracking-widest text-gray-600 uppercase">{{ subtitle }}</p>
  <h2 class="text-5xl md:text-6xl tracking-tight font-bold mt-4">
      {{ story.title | safe }}
  </h2>
  <p class="mt-2 text-base tracking-tight text-black max-w-md mx-auto leading-snug">
      {{ story.description | safe }}
  </p>
</main>

<section class="space-y-1 sm:space-y-2 md:space-y-4 mt-16 px-4 max-w-6xl mx-auto">
  {% set storyGrid = grid | filterBySlug(story.slug) %}
  
  {% for row in storyGrid %}
    <div class="flex space-x-1 sm:space-x-2 md:space-x-4">
      {% for img in row.images %}
        {% set photo = images | findPhotoByFile(story.slug, img.filename) %}
        <div class="w-[{{ img.widthPercent }}%]">
          <a 
            href="#!" 
            class="lightbox-trigger" 
            data-cropped-src="/assets/images_cropped/{{ story.slug }}/{{ img.filename }}"
            data-original-src="/assets/images/{{ story.slug }}/{{ img.filename }}"
            data-filename="{{ img.filename }}"
            data-alt="{{ photo.alt_text | escape }}">
            <img 
              class="w-full h-auto object-cover rounded-md cursor-zoom-in shadow-md"
              src="/assets/images_cropped/{{ story.slug }}/{{ img.filename }}"
              alt="{{ photo.alt_text }}"
            >
          </a>
          {% if photo.alt_text %}
            <p class="grid-caption text-sm text-gray-600 italic mt-2 hidden">{{ photo.alt_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</section>

<div id="lightbox" class="fixed inset-0 bg-black/80 flex items-center justify-center hidden z-50 px-4">
  <div class="text-center">
    <img id="lightbox-img" src="" alt="" class="max-h-[80vh] max-w-[90vw] rounded shadow-lg mx-auto">
    <p id="lightbox-caption" class="mt-4 text-white italic text-sm"></p>

    <a 
      id="lightbox-buy"
      href="https://form.typeform.com/to/AgIQdCQI"
      class="inline-block mt-4 bg-yellow-400 hover:bg-yellow-300 text-black font-semibold py-2 px-4 rounded transition duration-150"
      target="_blank"
    >
      Buy License
    </a>
  </div>
  <button id="lightbox-close" class="absolute top-4 right-6 text-white text-3xl font-bold">&times;</button>
</div>

<script src="/assets/js/lightbox.js" defer></script>
